<div class="container text-center" style="width:100%;margin-bottom:30px;">
    <h2 class="text-info">. . . no data to show . . .</h2>
    <p>@Html.ActionLink("<< Back to Cities List", "BrowseAll", "Country", null, null)</p>
</div>